// Carousel

@media (max-width: 599px) {
  .rec.rec-arrow {
    display: none;
  }
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow:hover:enabled {
  background-color: #ffb74d;
}

.rec.rec-arrow:focus:enabled{
  background-color: #ffb74d;
}

.rec.rec-item-wrapper {
  width: auto !important
}