.page-container {
  max-width: 1800px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  text-align: center;
}

.dialog {

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  &__task-info {
    width: 65%;
  }
  
  &__task-actions {
    width: 25%;
  }

}

// css in js переделать
.list-item {
  background-color: #f6f6f7;
  padding-left: 10px;
  margin-bottom: 8px;
}

// Carousel

@media (max-width: 599px) {
  .rec.rec-arrow {
    display: none;
  }
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow:hover:enabled {
  background-color: #ffb74d;
}

.rec.rec-arrow:focus:enabled{
  background-color: #ffb74d;
}

.rec.rec-item-wrapper {
  width: auto !important
}